<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class="about">©Bitmaker Labs 2017</h1>
    <img src="http://img06.deviantart.net/c768/i/2013/217/d/4/cross_fate_city_concept_by_adimono-d3rdiy0.jpg"
    alt="METROPOLIS, USA"
    style=width:1424px;</img>
  </body>
</html>
